---
import Baseheaders from "../components/baseheaders.astro";
import Head from "../components/headers.astro";
import Mainbody from "../components/mainbody.astro";
---


<head>
	<Baseheaders>
</head>
<body class="bg-dark">
	<Head />
	<Mainbody />
</body>