<header
  class="text-t-dark flex flex-col pt-8 lg:flex-row text-center lg:m-auto lg:w-[75rem] items-center"
  id="headers"
>
  <div>
    <a href="/" class="flex items-center text-2xl justify-center">
      real<span class="text-sixth-col">.</span>
    </a>
  </div>

  <div class="mt-5 flex text-xl lg:ml-auto justify-center gap-6">
    <a
      href="/"
      class="transition-all duration-300 ease-in-out hover:scale-110 active:scale-90"
      >about</a
    >
    <a
      href="/blogs"
      class="transition-all duration-300 ease-in-out hover:scale-110 active:scale-90"
      >docs</a
    >
    <a
      href="https://github.com/JadeBetty/portfolio"
      target="_blank"
      class="transition-all duration-300 ease-in-out hover:scale-110 active:scale-90"
      >download</a
    >
  </div>
</header>
