---

---

<div
  id="body"
  class="text-t-dark max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem] items-center justify-center tracking-tight"
>
  <div class="pt-8 w-auto">
    <p
      id="hello-text"
      class="flex justify-center text-3xl font-medium lg:text-4xl text-center"
    >
      it's as real as it gets
    </p>
    <p
      id="description"
      class="text-xl max-w-[623px] mb-[1rem] md:text-md md:leading-10 pt-3 text-center"
    >
      <span class="md:pl-28"
        >Realang is an esolang made for <span class="text-sixth-col">fun.</span>
        <br />
        <span class="md:pl-10"
          >Syntax from "Male talk" go read some Instagram <br /><span
            class="md:pl-28"></span>comments you will know what it is.
        </span>
      </span>
    </p>
  </div>
</div>
